<ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{burger_name}}
            </div>
            <div class="col-sm-6">
                <button type="button" class="devoure" data-id="{{id}}" data-devour="{{eaten}}">{{#if eaten}} Devour it!
                    {{else}}Devoured!{{/if}}</button>
            </div>
        </div>
    </div>

</ol>